@model VienautoMobile.Models.Form.AccountFormModel
@{
    Layout = null;
}

<!-- Css -->
@Styles.Render("~/bundles/css/core")
@Styles.Render("~/bundles/css/login")
@Styles.Render("~/bundles/css/register")
<!-- Js -->
@Scripts.Render("~/bundles/js/core")
@*@Scripts.Render("~/bundles/js/jqueryval")*@
@Scripts.Render("~/bundles/js/login")
@Scripts.Render("~/bundles/js/register")
 
<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log In</title>
    <link rel="shortcut icon" href="https://m.cars.com//assets/images/favicon128.png">
    <link rel="apple-touch-icon" sizes="128x128" href="https://m.cars.com//assets/images/favicon128.png">
</head>
<body class="ui-mobile-viewport ui-overlay-a portrait">
    <div id="login" tabindex="0" class="ui-page ui-body-a ui-page-active" style="min-height: 640px;">
        <div id="banner">
            <div class="and-banner">
                <table cellpadding="10">
                    <tbody>
                        <tr>
                            <td class="close-button-div" width="1%">
                                <img id="close-button" class="close-button" height="15" width="15" align="top" src="https://m.cars.com//assets/images/android_appbanner_close.png">
                            </td>
                            <td class="icon" width="1%">
                                <img class="icon" height="46" width="46" align="top" src="https://m.cars.com//assets/images/android_appbanner_icon.png">
                            </td>
                            <td>
                                <p class="banner-text"></p>
                                <p class="title" align="left">Cars.com</p>
                                <p class="subtitle" align="left">FREE - In Google Play</p>
                                <p></p>
                            </td>
                            <td class="button-td">
                                <p class="install-button">Install</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div data-role="header" class="ui-header ui-bar-a" role="banner">
            <div class="ui-title-wrapper">
                <div class="ui-title" role="heading" aria-level="1">
                    <div id="carslogo">&nbsp;</div>
                    <div id="togglenav-button" class="hidden-at-start">&nbsp;</div>
                </div>
            </div>
            <nav class="global-navbar">
                <a href="#" class="findyourcar">Find Your Car</a>
                <a href="#" class="bookvalue">Used Car Values</a>
                <a href="#" class="research">Research Car Models</a>
                <a href="#" class="sellandtrade">Sell Your Car</a>
                <a href="#" class="findadealer">Find a Dealer</a>
                <a href="#" class="autorepair">Service &amp; Repair</a>
                <a href="#" class="calculators">Calculators</a>
                <a href="#" class="account"><span class="new-label">New!</span> Log In</a>
                <a href="#" class="favorites">Favorites (0)</a>
                <a href="#" class="close">&nbsp;</a>
            </nav>
        </div>
        <div data-role="content" class="ui-content" role="main" style="min-height: 451px;">
            <div id="profile-login">
                <h2 id="profile-title">Log In</h2>
                <div class="alert_message warning">
                    <span></span>
                </div>
                @{
                    if (!MvcHtmlString.IsNullOrEmpty(Html.ValidationSummary()))
                    {
                        <div class="alert_message error">
                            <span>
                                @Html.ValidationSummary()
                            </span>
                        </div>
                    }
                }
                @using (Html.BeginForm("SignIn", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post,
                new { id = "profile-login-form", name = "profile-login-form" }))
                {
                    @Html.AntiForgeryToken()
                    <label for="email">Email</label>
                    @Html.TextBoxFor(x => x.UserName, new { name = "email", @class = "ui-input-text ui-body-a ui-corner-all ui-shadow-inset" })
                    <label for="password">Password</label>
                    @Html.PasswordFor(x => x.PassWord, new { name = "password", @class = "ui-input-text ui-body-a ui-corner-all ui-shadow-inset" })
                    <div class="ui-btn ui-shadow ui-btn-corner-all ui-submit ui-btn-up-r" aria-disabled="false">
                        <span class="ui-btn-inner ui-btn-corner-all">
                            <span class="ui-btn-text">Log In</span>
                        </span>
                        <input type="submit" value="Log In" class="primary ui-btn-hidden" tabindex="2">
                    </div>
                }
                <div class="orRule"></div>
                <div class="gigyaButtonWrapper" style="display: none;">
                    <div class="gigyaButton" id="gigyaLoginButton" gigid="showLoginUI_showLoginUI_v1" style="width: 100px; height: 30px;">
                        <table width="100%" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px;border:0px;line-height: normal;font-family:arial;background-color:transparent;vertical-align: middle; width: 100px; height: 30px;">
                            <tr>
                                <td style="vertical-align:middle;margin:0px;padding:0px;border:0px;">
                                    <center>
                                        <table style="margin:0px;padding:0px;border:0px;vertical-align:middle; height: 30px;width:100%" align="center" cellspacing="0" cellpadding="0">
                                            <tr style="height:99%">
                                                <td align="right" style="margin:0px;padding:0px;border:0px;vertical-align:middle;width:48%;text-align:right">
                                                    <div align="right" style="text-align:right;width:auto"></div>
                                                </td>
                                                <td align="center" style="width:78px;margin:0px;padding:0px;border:0px;vertical-align:middle;white-space:nowrap" id="gigyaLoginButton_page">
                                                    <table align="center" cellspacing="0" cellpadding="0" style="margin: 0px; padding: 0px; border: 0px;" id="gigyaLoginButton_p0">
                                                        <tr>
                                                            <td align="center" style="margin:0px;padding:0px;border:0px;vertical-align:middle">
                                                                <table align="left" cellspacing="0" cellpadding="0" style="margin:0px;padding:0px;border:0px;">
                                                                    <tr>
                                                                        <td style="margin:0px;padding:0px;border:0px;line-height: normal;font-family:arial;font-size:11px;color:#9b9b9b;text-align:center;vertical-align:top">
                                                                            <center>
                                                                                <div onclick="gigya.socialize.plugins.login.providerClick('gigyaLoginButton','facebook')" title="Facebook" alt="Facebook" style="zoom:1;cursor:pointer; width:78px;">
                                                                                    <div gigid="facebook" style="width:78px; height:30px">
                                                                                        <div style="background-image:url('https://cdns3.gigya.com/gs/GetSprite.ashx?path=%2FHTMLLogin%2FFullLogoColored%2F%5Bfacebook%5D_60.png%7C156%2C60');background-position:-0px 0px;background-size:78px 30px;width: 78px;height: 30px;line-height: 30px;background-repeat:no-repeat;position:static;"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </center>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td align="left" style="margin:0px;padding:0px;border:0px;vertical-align:middle;width:48%"></td>
                                            </tr>
                                        </table>
                                    </center>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <ul class="sub-links ui-listview">
                    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-btn-up-a">
                        <div class="ui-btn-inner ui-li">
                            <div class="ui-btn-text">
                                <a id="forgotPasswordLink" class="ui-link-inherit">Forgot your password?</a>
                            </div>
                            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                        </div>
                    </li>
                    <li class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-last ui-btn-up-a">
                        <div class="ui-btn-inner ui-li">
                            <div class="ui-btn-text">
                                <a id="signUpLink" href="/Account/Register" class="ui-link-inherit">New to Cars.com? Sign up now.</a>
                            </div>
                            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ui-footer ui-bar-a" role="contentinfo">
            <p>
                <a id="homeLink" href="/">Trang chủ</a> | <a id="aboutCarsComLink" href="/#aboutus">About Cars.com</a>
            </p>
            <script type="text/template" id="dataLogixLayer">
            </script>
            <p>
                <a id="feedbackLink" href="https://secure.opinionlab.com/ccc01/o.asp?id=VuvIfpRR" target="_blank">[+] Feedback</a> |
                <a id="loginLink" href="https://m.cars.com/profile/#!login?continue=http%3A%2F%2Fm.cars.com%2F%23search">Đăng nhập</a>
            </p>
            <p>© 2016 Vienauto.com </p>
            <!--| <a id="termsOfServiceLink" href="/#terms">Terms of Service</a> | <a id="privacyPolicyLink" href="/#privacy">Privacy Statement</a></p>-->
        </div>
    </div>
</body>
</html>
